.profile-settings-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-settings-form,
  .password-change-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .profile-picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
  }
  
  input[type="file"] {
    cursor: pointer;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #007bff;
  }
  
  .update-profile-btn,
  .change-password-btn {
    align-self: center;
  }

  .home-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .home-btn:hover {
    background-color: #45a049;
  }
  
  /* Styles CSS pour aligner la section du plan d'intervention */

.intervention-plan-section {
  margin: 20px auto; /* Centrer horizontalement */
  padding: 15px;
  max-width: 600px; /* Ajuster la largeur pour s'aligner avec le reste */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intervention-plan-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center; /* Centrer le titre */
}

.intervention-plan-section textarea {
  width: 100%;
  height: 150px; /* Ajuster la hauteur selon les besoins */
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permettre la redimension verticale uniquement */
}

.submit-task-btn {
  display: block;
  width: 100%; /* Bouton pleine largeur aligné avec le textarea */
  padding: 10px 15px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.submit-task-btn:hover {
  background-color: #0056b3;
}
  
  
